@import '../../../common/common.scss';

.pj-wrapper {
    margin-top: 50px; // Adjust the top margin as needed
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pjb-wrapper {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 70%; // Adjust the width as needed
    display: flex;

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
        writing-mode: vertical-rl; // Rotate the text in the opposite direction
        transform: rotate(180deg); /* Rotate the content 180 degrees */
        text-align: end;
        margin-top: 30px;
    }

    img {
        max-width: 40%; // Adjust the image width as needed
        height: auto;
        border-radius: 5px;
        margin-bottom: 15px;
        max-height: 300px; // Adjust the maximum height of the images
        float: left; // Align the image to the left
        margin-right: 20px; // Add some margin to separate the image from other content
        transition: filter 0.3s ease; // Add transition for hover effect
        filter: grayscale(100%) invert(25%); // Apply red filter by default
        }

    img:hover {
        filter: none; // Remove the grayscale filter on hover
    }

    .pjbd-wrapper {
        padding-top: 10px;

        .description {
            background-color: rgba(255, 255, 255, 0.651); // Slightly transparent background
            padding: 15px;
            border-radius: 15px;
            margin-bottom: 10px;
            z-index: 2;
            position: relative;
            width: 100%;
            display: flex;
            left: -50px;
            p {
                margin: 0;
            }
        }
    
        .languages {
            margin-top: 10px; // Adjust the top margin as needed
            font-size: 16px;
        }
    
        a {
            display: inline-block;
            color: $lavender;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s ease;
    
            &:hover {
                color: darken($lavender, 10%);
            }
    
            svg {
                margin-right: 5px;
            }
        }
    }  
}
